.git
.idea
.vscode
**/.dart_tool
**/build
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
infra/docker/postgres_data
infra/docker/minio_data
infra/docker/data
services/api/storage
infra/nginx/html/admin
infra/nginx/html/user
