APP_NAME=ECG Pro API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=true
APP_RELOAD=true
SECRET_KEY=change-me-please-use-a-32-character-secret
ACCESS_TOKEN_EXPIRE_MINUTES=120

POSTGRES_DB=ecg_pro
POSTGRES_USER=ecg_user
POSTGRES_PASSWORD=ecg_pass
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://ecg_user:ecg_pass@postgres:5432/ecg_pro

STORAGE_BACKEND=local
LOCAL_STORAGE_PATH=/app/storage
PUBLIC_BASE_URL=http://localhost:8080

BOOTSTRAP_ADMIN_USERNAME=admin
BOOTSTRAP_ADMIN_PASSWORD=Admin123456
BOOTSTRAP_ADMIN_DISPLAY_NAME=ECG Pro Admin
